body {
    --primary-color: #F04524;

    --body-bg-color: #FAF4EC;

    --font-color: #222222;
    --font-color-secondary: #756c61;

    --heading-color: var(--primary-color);
    --link-color: var(--primary-color);
    --divider-color: #e5ded6;

    --image-blend-mode: multiply;

    --font-size-small: 0.99rem;
}

body[data-theme='dark'] {
    --body-bg-color: #232323;
    
    --font-color: #f9f9f9;
    --font-color-secondary: #b0b0b0;

    --image-blend-mode: normal;
}