.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;

    &-item {
        img {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 6px;
            aspect-ratio: 1 / 1.5;
            object-fit: cover;
            mix-blend-mode: var(--image-blend-mode);
        }
    
        &-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: var(--font-size-small);
            color: var(--font-color-secondary);
        }
    
        &-text {
            margin: 12px 0;
            font-size: var(--font-size-small);
        }
    }
}