@import "../utils/_mixins";

.movie {
    img {
        width: 100%;
        height: auto;
    }

    .title {
        text-align: center;
        margin: 0;
    }

    .info {
        text-align: center;
        color: var(--font-color-secondary);
        font-size: 0.9rem;
    }

    .epigraph {
        text-align: right;
        margin: 4rem 0;
        font-size: 0.95rem;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;

        @include for-mobile {
            margin-top: 2rem;
        }

        .item {
            color: var(--font-color);

            .dir {
                font-size: 0.9rem;
                color: var(--link-color);
            }
        }

        .prev {
            text-align: left;
        }

        .next {
            text-align: right;
        }
    }
}