<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A small personal blog about movies that stay in your head much longer then you see them on screen.">
        <title>
            {% block title %}Movie made me think{% endblock %}
        </title>

        <script src="{{ '/assets/js/index.js' | url }}"></script>

        <link rel="stylesheet" href="{{ '/assets/styles/style.css' | url }}">
        <link rel="shortcut icon" href="{{ '/assets/favicon.png' | url }}" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Baskerville:wght@400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="{{ '/' | url }}">
                <img class="title" src="{{ '/assets/logo.svg' | url }}" alt="Logo" width="330" height="18">
            </a>

            <div class="switcher">
                <button id="theme-switcher">
                    <img class="sun" src="{{ '/assets/icons/sun.svg' | url }}" alt="Logo" width="20" height="20">
                    <img class="moon" src="{{ '/assets/icons/moon.svg' | url }}" alt="Logo" width="20" height="20">
                </button>
            </div>
        </header>

        <main>
            <div>
                <div class="about">
                    A small personal blog about movies that stay in your head much longer then you see them on screen.
                </div>
            </div>
            <div>
                <div class="content">
                    {% block content %}
                        {{ content | safe }}
                    {% endblock %}
                </div>
            </div>
        </main>

        <footer>
            &copy; {% year %} Andrew K.
        </footer>
    </body>
</html>