{% extends 'layouts/index.njk' %}

{% set previousPost = collections.movies | getPreviousCollectionItem(page) %}
{% set nextPost = collections.movies | getNextCollectionItem(page) %}

{% block meta %}
    <meta property="og:title" content='"{{ title }}" movie review'>
    <meta property="og:description" content="{{ content | striptags | truncate(115) | safe }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% metaImage cover %}
{% endblock %}

{% block title %}{{ title }} | {{ super() }}
{% endblock %}

{% block content %}
    <article class="movie">
        <h1 class="movie-title">{{ title }}</h1>

        <div class="movie-info">
            {{ date | formatdate('MM/dd/yyyy') }} &middot; {{ content | striptags | wordcount | readtime }} min read
        </div>

        <div class="movie-epigraph">
            {{ epigraph | nl2br | safe }}
        </div>

        <div>
            {{ content | safe }}

            <div class="movie-navigation">
                <div>
                    {% if previousPost %}
                        <a href="{{ previousPost.url }}" class="movie-navigation-prev movie-navigation-item">
                            <div class="movie-navigation-item-dir">
                                <span class="movie-navigation-prev-arrow">&larr;</span> Prev
                            </div>
                            {{ previousPost.data.title }}
                        </a>
                    {% endif %}
                </div>

                <div>
                    {% if nextPost %}
                        <a href="{{ nextPost.url }}" class="movie-navigation-next movie-navigation-item">
                            <div class="movie-navigation-item-dir">
                                Next <span class="movie-navigation-next-arrow">&rarr;</span>
                                </div>
                            {{ nextPost.data.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}