@import "../utils/_mixins";

header {
    display: block;
    width: 100%;
    text-align: center;

    .title {
        position: fixed;
        top: 2rem;
        left: 2rem;
        width: auto;

        @include for-mobile {
            position: relative;
            top: 0;
            left: 0;
        }
    }

    .switcher {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
}