@import "../utils/_mixins";

header {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;

    .title {
        position: fixed;
        top: 2rem;
        left: 2rem;
        width: auto;

        @include for-mobile {
            position: relative;
            top: 0;
            left: 0;
        }
    }

    .switcher {
        display: block;
        position: absolute;
        top: 0;
        right: 0;

        @include for-mobile {
            top: 5px;
            right: -5px;
        }
    }
}