header {
  display: block;
  width: 100%;
  text-align: center;
}
header .title {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: auto;
}
@media screen and (max-width: 768px) {
  header .title {
    position: relative;
    top: 0;
    left: 0;
  }
}
header .subtitle {
  font-size: 14px;
  color: var(--font-color-secondary);
}