.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.movies .item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 6px;
  mix-blend-mode: multiply;
}
.movies .item .info {
  font-size: 0.9rem;
  color: var(--font-color-secondary);
}
.movies .item .text {
  margin: 12px 0;
}