main {
  display: grid;
  width: 100%;
  grid-template-columns: min(300px, 30%) 1fr;
  padding: 20vh 4rem 0 0;
  column-gap: 6rem;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
main .about {
  position: sticky;
  top: calc(20vh + 2rem);
  width: 300px;
  max-width: 100%;
  color: var(--font-color-secondary);
  font-size: 0.95rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  main .about {
    position: relative;
    display: block;
    top: 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid var(--divider-color);
    margin-bottom: 4rem;
    padding: 1rem 0 2rem 0;
  }
}
main .content {
  max-width: 800px;
  padding-bottom: 2rem;
  margin: 0 auto;
}