.movie img {
  width: 100%;
  height: auto;
}
.movie .title {
  text-align: center;
  margin: 0;
}
.movie .info {
  text-align: center;
  color: var(--font-color-secondary);
  font-size: 0.9rem;
}
.movie .quote {
  text-align: right;
  margin: 4rem 0;
  font-size: 0.95rem;
}
.movie .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  .movie .navigation {
    margin-top: 2rem;
  }
}
.movie .navigation .item {
  color: var(--font-color);
}
.movie .navigation .item .dir {
  font-size: 0.9rem;
  color: var(--link-color);
}
.movie .navigation .prev {
  text-align: left;
}
.movie .navigation .next {
  text-align: right;
}