body {
  --primary-color: #F04524;
  --body-bg-color: #FAF4EC;
  --font-color: #222222;
  --font-color-secondary: #756c61;
  --heading-color: var(--primary-color);
  --link-color: var(--primary-color);
  --divider-color: #e5ded6;
}

body[data-theme=dark] {
  --body-bg-color: #121212;
  --font-color: #FFFFFF;
}

footer {
  position: fixed;
  font-size: 0.8rem;
  bottom: 2rem;
  left: 2rem;
  color: var(--font-color-secondary);
}
@media screen and (max-width: 768px) {
  footer {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
  }
}

header {
  display: block;
  width: 100%;
  text-align: center;
}
header .title {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: auto;
}
@media screen and (max-width: 768px) {
  header .title {
    position: relative;
    top: 0;
    left: 0;
  }
}
header .subtitle {
  font-size: 14px;
  color: var(--font-color-secondary);
}

main {
  display: grid;
  width: 100%;
  grid-template-columns: min(300px, 30%) 1fr;
  padding: 20vh 4rem 0 0;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
main .about {
  position: -webkit-sticky;
  position: sticky;
  top: calc(20vh + 2rem);
  width: 300px;
  max-width: 100%;
  color: var(--font-color-secondary);
  font-size: 0.95rem;
  text-align: left;
}
@media screen and (max-width: 768px) {
  main .about {
    position: relative;
    display: block;
    top: 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid var(--divider-color);
    margin-bottom: 4rem;
    padding: 1rem 0 2rem 0;
  }
}
main .content {
  max-width: 800px;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
}
.movies .item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 6px;
  mix-blend-mode: multiply;
  aspect-ratio: 1/1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.movies .item .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--font-color-secondary);
}
.movies .item .text {
  margin: 12px 0;
}

.movie img {
  width: 100%;
  height: auto;
}
.movie .title {
  text-align: center;
  margin: 0;
}
.movie .info {
  text-align: center;
  color: var(--font-color-secondary);
  font-size: 0.9rem;
}
.movie .epigraph {
  text-align: right;
  margin: 4rem 0;
  font-size: 0.95rem;
}
.movie .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}
@media screen and (max-width: 768px) {
  .movie .navigation {
    margin-top: 2rem;
  }
}
.movie .navigation .item {
  color: var(--font-color);
}
.movie .navigation .item .dir {
  font-size: 0.9rem;
  color: var(--link-color);
}
.movie .navigation .prev {
  text-align: left;
}
.movie .navigation .next {
  text-align: right;
}

body {
  background-color: var(--body-bg-color);
  min-height: 100vh;
  margin: 0;
  color: var(--font-color);
  letter-spacing: 0.2pt;
  font-family: "Baskerville", serif;
  font-size: 18px;
  line-height: 2;
  transition: background-color 0.2s linear;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

h1, h2 {
  line-height: 1;
  font-family: "Bebas Neue", cursive;
  color: var(--heading-color);
}