---
layout: layouts/index.njk
pagination:
  data: collections.movies
  size: 6
  alias: movies
  reverse: true
---

<div class="movies">
  {% for movie in movies %}
    <div class="item">
      <a href="{{ movie.url | url }}">
        {% image './src/assets/images/' + movie.data.cover, movie.data.title, [450, 800], loop.index > 3 %}
      </a>

      <div class="info">
        <span>{{ movie.date | formatdate('MM/dd/yyyy') }}</span>
        <span>{{ movie.templateContent | striptags | wordcount | readtime }} min read</span>
      </div>

      <a href="{{ movie.url | url }}">
        <h2 class="title">{{ movie.data.title }}</h2>
      </a>
      
      <div class="text">
        {{ movie.templateContent | striptags | truncate(100) | safe }}
      </div>
    </div>
  {% endfor %}
</div>