---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for movie in collections.movies %}
        <url>
            <loc>{{ site.url }}{{ movie.url | url }}</loc>
            <lastmod>{{ movie.date.toISOString() }}</lastmod>
        </url>
    {% endfor %}
</urlset>